/*
    Name: Samuel Esho
    Date:  24 February 2025
    This is the style.css page for my portfolio of web development work.
    It is used by all pages in my portfolio to give the site a consistent
    look and feel.
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
}

h2,
h3 {
  text-align: center;
  margin: 0;
  padding: 1em;
}

p {
  font-family: "Rubik", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

ul {
  list-style-type: none;
}

body {
  padding: 1em 10%;
  background-color: beige;
}

main {
  border-radius: 1em;
  border: 1em solid palegoldenrod;
}

header {
  display: flex;
  justify-content: space-between;
}

header > nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header > nav > * {
  padding: 1em;
}

main section {
  justify-content: space-between;
  padding: 1em;
  text-align: center;
}

#splash {
  display: flex;
  align-content: center;
  padding: 0;

  background-color: paleturquoise;
}

#splash > div {
  padding: 1em;
  align-content: center;
}

#intro {
  padding: 1em;
  background-color: palegoldenrod;
}

#talents {
  background-color: antiquewhite;
}

#talents > div {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
}

#projects {
  background-color: palegreen;
}

.showcase {
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.showcase img {
  margin-bottom: 1em;
  border-radius: 1em;
  border: 0.2em solid mediumseagreen;
}
